.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 227px;
  height: 226px;
  margin-right: 14px;
margin-top: 50px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;

  .basket_header {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      margin-top: 15px;
      margin-right: 17px;
      margin-left: -14px;
    }

    h2 {
      margin-top: 18px;
    }
  }

  &_items {
    min-height: 31px;
    border-bottom: 1px solid #d4d4d4;
  }

  &_total {
    width: 202px;
    height: 27px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-top: 1px solid #d4d4d4;

    span {
      font-weight: 700;
    }
  }

  button {
    margin-top: 29px;
    background-color: #24d901;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: #1caa00;
    }

    &:focus {
      outline: none;
    }
  }


}

.stickytop {
  position: fixed;
  top: 0;
}
