@import "header.scss";
@import "products.scss";
@import "basket.scss";


* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  color:  #131c1f;
  font-family: Arial;
}

.content {
    display: flex;
    justify-content: space-between;
}

h2 {
font-size: 18px;
font-weight: 700;
letter-spacing: 0.45px;
text-align: left;
}

p {
  color:  #132328;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 18px;
  text-align: left;
}

button {
  width: 201px;
  height: 41px;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-shadow: 1px 2px 2px rgba(2, 89, 117, 0.6);
}

footer {
  height: 121px;
  background-color: #10546b;
}
