@import "header.scss";

* {
  margin: 0;
  padding: 0;
}

.content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  color:  #131c1f;
  font-family: Arial;
}

h2 {
font-size: 18px;
font-weight: 700;
letter-spacing: 0.45px;
text-align: left;
}

p {
  font-family: Arial;
color:  #132328;
font-size: 12px;
font-weight: 400;
letter-spacing: 0.3px;
line-height: 18px;
text-align: left;
}
