.products {
  width: 711px;
  padding-bottom: 18px;

  .item {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;

    .description {
      width: 333px;
      margin-left: 20px;

      h2 {
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 18px;

      span {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.6px;
        text-align: justify;
      }

      button {
        background-color: #00aee5;


        &:hover {
          cursor: pointer;
        }

        &:active {
          background-color: #007bff;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .border {
    height: 1px;
    width: 701px;
    background-color: #d4d4d4;
    margin-left: 10px;
  }
}
