.products {
  width: 711px;
  padding-top: 20px;
  padding-bottom: 18px;

  .item {
    display: flex;
    border-bottom: 2px solid #d4d4d4;
    padding-bottom: 20px;

    &:before {
      content: '';
      background-color: #fff;
      height: 2px;
      width: 10px;
      position: absolute;
      top: 346px;
    }

    .description {
      width: 310px;
      margin-left: 20px;

      h2 {
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 42px;

      span {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.6px;
        text-align: justify;
      }

      button {
        width: 201px;
        height: 41px;
        background-color: #00aee5;
        border: none;
        border-radius: 10px;
        margin-top: 15px;
        color:  #ffffff;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-shadow: 1px 2px 2px rgba(2, 89, 117, 0.6);

        &:hover {
          cursor: pointer;
        }

        &:active {
          background-color: #007bff;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
